<%= form_with(model: railway, local: true) do |form| %>
  <div class="img-upload">
      <div class="weight-bold-text">
        切符画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= form.file_field :image, id:"item-image" %>
      </div>
  </div>
  <%= form.text_area :text, placeholder: "どんな切符かを２０文字以内で記入", rows: "10" %>
  <%= form.submit "SEND" %>
<% end %>