<div class="contents row">
  <div class="container">
  <h1 class="jr-1">JR pay off study toolとは</h1>
  <p class="jr-2">分倍河原駅でJR切符の精算方法がわからない時の為のお役立ちツールです！</p>
  </div>
</div>
<div class="contents row">
  <% @railway.each do |railway| %>
     <%= render partial: "railway", locals: { railway: railway } %>
  <% end %>
</div>