<%# 簡易説明 %>
<div class="contents row">
  <div class="container">
  <h1 class="jr-1">JR pay off study toolとは</h1>
  <p class="jr-2">JR切符の精算方法や独自のルールがわからない時のお役立ちツールです！</p>
  </div>
</div>
<%# 検索ツール %>
<%= form_with(url: search_railways_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<%# 一覧表示 %>
<div class="contents row">
  <% @railway.each do |railway| %>
     <%= render partial: "railway", locals: { railway: railway } %>
  <% end %>
</div>